<section class="tables-data">
  <div class="mdl-color--grey-700 ml-header relative clear">
        <div class="p-20">
            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--6-col">
                    <h3 class="mdl-color-text--white ">Tournaments</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing m-t-10">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="p-20 ml-card-holder ml-card-holder-first">
                <div class="mdl-card mdl-shadow--1dp m-b-30">
                    <div class="mdl-card__title hidden">
                        <h2 class="mdl-card__title-text">{{data.length}} rows</h2>
                    </div>
                    <div layout="row">
                        <div flex="50">
                        </div>
                        <div flex="20">
                           <!--  <md-progress-circular md-diameter="48px" md-mode="indeterminate" ng-show="loading" class="md-accent"></md-progress-circular> -->
                        </div>
                        <div flex="40">
                        </div>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table fullwidth">
                        <colgroup>
                            <col class="auto-cell-size p-r-20">
                        </colgroup>
                        <thead>
                            <th class="text-left">Tournament Name</th>
                            <th class="text-left">Association Name</th>
                            <th class="text-left">Sport Type</th>
                            <th class="text-left">Start Date</th>
                            <th class="text-left">End Date</th>
                            <th class="text-center">Actions</th>
                        </thead>
                        <tbody ng-show="loading">
                            <tr>
                                <td colspan="6" class="t-center" >
                                <md-progress-circular md-diameter="48px" md-mode="indeterminate" class="md-accent m-auto" ng-show="loading"></md-progress-circular>
                                </td>
                            </tr>
                        </tbody>
                        <tbody >
                            <tr  ng-repeat="item in tournaments">
                               <td>{{item.tournamentName}}</td>
                                <td>{{item.associationName}}</td>
                                <td>{{item.sportType}}</td>
                                <td>{{item.entryStartDate}}</td>
                                <td>{{item.entryEndDate}}</td>
                                <td class="text-center"><i ui-sref="root.edittournament({id:item.docId})" class="mdl-color-text--blue-grey-400 material-icons pointer">mode_edit</i></td>
                            </tr>
                             <tr ng-if="tournaments.length==0" >
                                <td colspan="6" align="center">No Records Found</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
